/* Применение стилей к BorderPane */
BorderPane {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

#menuHbox {
    -fx-background-color:#24292e;
}

#mainHbox {
    -fx-padding: 20 40 20 40;
}

#getStartedLabel {
    -fx-font-size: 36px;
    -fx-text-fill: #2F363D;
    -fx-alignment: center;
}
/* Применение стилей к Button */
Button {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-color: #F6F8FA;
    -fx-text-fill: #666666;
    -fx-border-color: #999087;
    -fx-border-radius: 7px;
    -fx-border-width: 0.5px;
}

Button:hover {

    -fx-background-color: #FFFFFF;
    -fx-text-fill: #999999
}

#reloadButton{
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-min-width: 42px;

    -fx-font-size: 18px;
    -fx-padding: 0;
}

/* Применение стилей к TextField */
TextField {
    -fx-padding: 5px;
    -fx-background-color: #ffffff;
    -fx-border-color: #999087;
    -fx-border-radius: 7px;
    -fx-border-width: 0.5px;
}

/* таблица репозиториев */
.list-view {
    -fx-background-color: #f6f8fa;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
    -fx-border-width: 0px;
}

.list-cell:hover {
    -fx-background-color: #f6f8fa;
}

.list-cell:selected {
    -fx-background-color: #0366d6;
    -fx-text-fill: #ffffff;
}

.list-view .scroll-bar {
    -fx-background-color: #f6f8fa;
}

.list-view .scroll-bar:horizontal {
    -fx-pref-height: 8px;
}

.list-view .scroll-bar:vertical {
    -fx-pref-width: 8px;
}

.list-view .scroll-bar .track {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: #bdc7d2;
    -fx-background-radius: 4px;
}

.list-view .scroll-bar .thumb:hover {
    -fx-background-color: #95a2b0;
}

.list-view .scroll-bar .thumb:pressed {
    -fx-background-color: #778899;
}

.list-view .scroll-bar .thumb:hover:pressed {
    -fx-background-color: #657583;
}

/* file list view */
#fileListView .list-cell {
    -fx-control-inner-background: transparent;
    -fx-text-fill: black;
    -fx-padding: 2 4;
    -fx-background-radius: 0px;
}

#fileListView .list-cell.deleted {
    -fx-background-color: rgba(255, 0, 0, 0.1);
    -fx-control-inner-background: rgba(255, 0, 0, 0.2);
    -fx-text-fill: red;
}

#fileListView .list-cell.added {
    -fx-background-color: rgba(0, 255, 0, 0.1);
    -fx-control-inner-background: rgba(0, 255, 0, 0.2);
    -fx-text-fill: green;
}


/*Split pane */
.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.split-pane-divider .split-pane-divider-line {
    -fx-background-color: #d1d5da;
    -fx-background-radius: 0;
}

.split-pane-divider:hover .split-pane-divider-line {
    -fx-background-color: #0366d6;
}

.split-pane .split-pane-divider {
    -fx-padding: 0.25 0.25 0.25 0.25;
}

.split-pane .split-pane-divider:horizontal {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-cursor: col-resize;
}

.split-pane .split-pane-divider:vertical {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-cursor: row-resize;
}

.split-pane .split-pane-divider:horizontal:hover,
.split-pane .split-pane-divider:vertical:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

/* стили TabPane*/
.tab-pane {
    -fx-tab-min-height: 20px;
    -fx-tab-max-height: 20px;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab {
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #f6f8fa;
    -fx-text-fill: #24292e;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-effect: none;
}

.tab-pane .tab:selected {
    -fx-background-color: #ffffff;
    -fx-text-fill: #0366d6;
    -fx-border-color: #eaecef #eaecef #ffffff #eaecef;
    -fx-border-width: 1px;
    -fx-border-radius: 4px 4px 0 0;
}

.tab-pane .tab:hover {
    -fx-background-color: #f6f8fa;
    -fx-text-fill: #0366d6;
    -fx-border-color: #eaecef #eaecef #ffffff #eaecef;
    -fx-border-width: 1px;
    -fx-border-radius: 4px 4px 0 0;
}

.tab-pane .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}